<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>PayrollManagementSyste</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>driver</param-name>
    <param-value>com.mysql.cj.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3306/ganeshdb?useSSL=false</param-value>
  </context-param>
  <context-param>
    <param-name>username</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>@grpansare123</param-value>
  </context-param>
  <listener>
    <listener-class>com.payroll.listner.dblistner</listener-class>
  </listener>
  <listener>
    <listener-class>com.payroll.listner.dblistner</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>Loginservlet</display-name>
    <servlet-name>Loginservlet</servlet-name>
    <servlet-class>com.payroll.servlet.Loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginservlet</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmp</display-name>
    <servlet-name>AddEmp</servlet-name>
    <servlet-class>com.payroll.servlet.AddEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmp</servlet-name>
    <url-pattern>/AddEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Salary</display-name>
    <servlet-name>Salary</servlet-name>
    <servlet-class>com.payroll.servlet.Salary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Salary</servlet-name>
    <url-pattern>/Salary</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>calcSal</display-name>
    <servlet-name>calcSal</servlet-name>
    <servlet-class>com.payroll.servlet.calcSal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>calcSal</servlet-name>
    <url-pattern>/calcSal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>displayEmp</display-name>
    <servlet-name>displayEmp</servlet-name>
    <servlet-class>com.payroll.servlet.displayEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayEmp</servlet-name>
    <url-pattern>/displayEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Update</display-name>
    <servlet-name>Update</servlet-name>
    <servlet-class>com.payroll.servlet.Update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Update</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateEmp</display-name>
    <servlet-name>updateEmp</servlet-name>
    <servlet-class>com.payroll.servlet.updateEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateEmp</servlet-name>
    <url-pattern>/updateEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSal</display-name>
    <servlet-name>UpdateSal</servlet-name>
    <servlet-class>com.payroll.servlet.UpdateSal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSal</servlet-name>
    <url-pattern>/UpdateSal</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateSal2</display-name>
    <servlet-name>updateSal2</servlet-name>
    <servlet-class>com.payroll.servlet.updateSal2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateSal2</servlet-name>
    <url-pattern>/updateSal2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>paymentSleep</display-name>
    <servlet-name>paymentSleep</servlet-name>
    <servlet-class>com.payroll.servlet.paymentSleep</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>paymentSleep</servlet-name>
    <url-pattern>/paymentSleep</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>paySleep</display-name>
    <servlet-name>paySleep</servlet-name>
    <servlet-class>com.payroll.servlet.paySleep</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>paySleep</servlet-name>
    <url-pattern>/paySleep</url-pattern>
  </servlet-mapping>
</web-app>